body{ min-height: 100vh;
    box-sizing:border-box;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}
#grid-button{
    flex-basis:100px;
    width:300px;
    align-self:center;
   }
#display{
border:solid black;
display:flex;
width:70%;
height:700px;
align-self:center;
}
.columns{
border-right: solid grey;
box-sizing:content-box;
flex:1;
display:flex;
flex-wrap:wrap;
flex-direction:column;
}
.rows{
    border-bottom:solid grey;
    box-sizing:content-box;
     flex:1;
    }